<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h1>Welcome to CodeJava.com</h1>
    <div>
        <h3>
            <a th:href="@{/register}">Register</a>
        </h3>
    </div>
    </div>

</body>
</html>