<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Succeeded - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center">
    <div>
        <h3>
            You have signed up succesfully!
            <h4><a th:href="@{/login}">Click here to login</a></h4>
        </h3>
    </div>
</div>

</body>
</html>